.yellow, .green, .blue, .red {
    width: 500px;
    height: 100px;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}