<router-outlet></router-outlet>

<div (click)="onKlikkimisel()">Kliki siia</div>
<div (mouseenter)="onHiiregaPealeMinekul()" (mouseleave)="onHiirega2raMinekul()" >Tule hiirega siia</div>
<input type="text" (blur)="hiiregaV2ljaKl6psates()"><br>
<input type="text" (keypress)="klaviatuurilVajutades()">
<button (click)="klikkimisel()">Nupp1</button>
<button (click)="klikkimiselJ2lle()">Nupp2</button>
<button routerLink="lisa">Lisanupp</button>

<div *ngIf="n2itaKollast" class="yellow"></div>
<div *ngIf="n2itaRohelist" class="green"></div>
<div *ngIf="n2itaSinist" class="blue"></div>
<div *ngIf="n2itaPunast" class="red"></div>
<div *ngIf="s6na"></div>