/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Roboto+Serif:wght@100&display=swap');

* {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
}

.main-text {
    margin: 100px;
    font-size: 1.1em;
}