<!-- Need on igal lehel nähtavad -->
<div routerLink="/">Avaleht</div>
<button routerLink="/ostukorv">Ostukorv</button>
<!-- Esimese tagi sees on omadused, kahe tagi vahel on lehel
näidatav sõna -->


<!-- Siia tekivad seosed app-routing failist
kontrollitakse mis on URL ja näidatakse vastavat Componenti -->
<router-outlet></router-outlet>

<!-- ng serve - komplimeerimise errorid
kood pakitakse kokku ja samas kontrollitakse kas kood on 
korrektne -->

<!-- parem klõps -> inspect -> console run-time errorid, need
juhtuvad siis kui kasutaja teeb lehel midagi valesti -->